body {
  width: 80%;
  margin-left: 10%;
}

.nav {
  text-align: center;
  margin-top: 40px;
}

.nav__mobile {
  display: none;
  margin-top: 20px;
}

.nav__content li {
  display: inline;
  margin-right: 5%;
}

.nav__content li a {
  font-size: 0.5vw;
  color: black;
  text-decoration: none;
  padding: 1.3em;
  margin: 1em;
  background-image: linear-gradient(#c35aec, #c35aec), linear-gradient(white, white);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.nav__content li a:hover {
  color: #c35aec;
  background-size: 100% 5px, auto;
}

.subNav {
  position: fixed;
  top: 200px;
  margin-left: 75%;
}

.subNav__li {
  margin-bottom: 40px;
}

.subNav__li a {
  text-decoration: none;
  color: #5e5b5b;
  font-size: 0.6vw;
  padding: 1.3em;
  margin: 1em;
  background-image: linear-gradient(#c35aec, #c35aec), linear-gradient(white, white);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.subNav__li a:hover {
  color: #c35aec;
  background-size: 100% 5px, auto;
}

.mainContent {
  width: 80%;
  margin-left: 10%;
}

.content__about {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.content__about__info {
  width: 90%;
  margin-left: 5%;
}

.content__about__info h1 {
  font-size: 4vw;
  color: #1f0438;
  margin: 0;
}

.content__about__info p {
  font-size: 0.8vw;
}

.content__about__info__icons i {
  font-size: 25px;
  color: #c35aec;
}

.content__about__info__icons i:hover {
  color: #7a1675;
}

.content__about__info a {
  text-decoration: none;
  color: #7a1675;
  padding-bottom: 5px;
  background-image: linear-gradient(#c35aec, #c35aec), linear-gradient(white, white);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.15s ease-out;
}

.content__about__info a:hover {
  color: #c35aec;
  background-size: 100% 5px, auto;
}

.education__header {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.education__header i {
  padding: 20px;
  border: 1.3px solid black;
  margin-right: 15px;
  font-size: 2.5vw;
  color: #c35aec;
}

.education__session {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.education__session__timeline {
  width: 80%;
}

.education__session__img img {
  width: 80%;
  max-width: 1000px;
  margin-left: 10%;
}

.education__session ul, li {
  list-style: none;
  padding: 0;
}

.education__timeline__li {
  padding-bottom: 3rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
.education__timeline__li .education__header {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.education__timeline__li:last-child {
  padding-bottom: 0;
}
.education__timeline__li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.education__timeline__li h2 {
  font-size: 1.5vw;
  margin: 0;
}

.education__timeline__li p {
  font-size: 1vw;
  color: #7c6e6e;
}

.research__header {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 80px;
}

.research__header i {
  padding: 20px;
  border: 1.3px solid black;
  margin-right: 15px;
  font-size: 2.5vw;
  color: #c35aec;
}

.research__session {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.research__session__content {
  position: relative;
  width: 30%;
  height: 360px;
  margin-right: 1%;
  background-color: #e4e3e4;
  margin-bottom: 20px;
  text-align: center;
}
.research__session__content i {
  margin-top: 70px;
  font-size: 40px;
  margin-bottom: 10px;
  color: #c35aec;
}
.research__session__content .research__session__content__h2 {
  font-size: 1.3vw;
}
.research__session__content .research__session__content__p {
  position: absolute;
  width: 100%;
  bottom: 70px;
  height: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.research__session__content .research__session__content__p p {
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
}
.research__session__content .research__session__content__tri {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 60px solid #d8a0e0;
  border-left: 60px solid #e4e3e4;
}
.research__session__content .research__session__content__button {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.research__session__content .research__session__content__button i {
  color: #c35aec;
  margin: unset;
  font-size: 22px;
}

#research__session__mid {
  background-image: url(/images//purple.jpg);
  position: relative;
  display: table-cell;
  text-align: left;
}
#research__session__mid p {
  width: 80%;
  margin-left: 13%;
  padding-top: 30%;
  color: wheat;
  font-style: italic;
}

.publications__header {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.publications__header i {
  padding: 20px;
  border: 1.3px solid black;
  margin-right: 15px;
  font-size: 2.5vw;
  color: #c35aec;
}

.publications__sessions {
  display: flex;
  flex-direction: column;
}
.publications__sessions .publications__session {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  height: 250px;
}
.publications__sessions .publications__session img {
  height: 100%;
  margin-right: 40px;
}
.publications__sessions .publications__session .publications__session__content {
  display: flex;
  flex-direction: column;
}
.publications__sessions .publications__session .publications__session__content h2 {
  margin: unset;
  font-size: 1.3vw;
  margin-top: 40px;
  margin-bottom: 20PX;
}
.publications__sessions .publications__session .publications__session__content h3 {
  margin: unset;
  font-size: 0.8vw;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20PX;
}
.publications__sessions .publications__session .publications__session__content p {
  margin: unset;
  font-size: 0.8vw;
}

@media only screen and (max-width: 1200px) {
  body {
    width: 94%;
    margin-left: 3%;
    line-height: 1.55;
  }

  .mainContent {
    width: 85%;
    margin-left: 0;
  }

  .nav__content li {
    margin-right: 0.5%;
  }

  .education__session__img img {
    width: 60%;
    max-width: 600x;
    margin-left: 20%;
  }

  .research__session__content {
    width: 48%;
  }

  .publications__sessions {
    height: 150px;
  }
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .mainContent {
    margin-left: 5%;
  }

  .nav {
    display: none;
  }

  .nav__mobile {
    display: block;
    margin-left: 90%;
    font-size: 5vw;
  }

  .content__about {
    display: unset;
    flex-direction: unset;
  }

  .education__header i {
    font-size: 40px;
  }

  .education__session__img img {
    width: 80%;
    max-width: 1000px;
    margin-left: 10%;
    display: none;
  }

  .subNav {
    display: none;
  }

  .research__header i {
    font-size: 40px;
  }

  .research__session__content {
    width: 100%;
  }

  .publications__sessions {
    margin-top: 20px;
  }
  .publications__sessions img {
    display: none;
  }
  .publications__sessions .publications__session {
    height: 100px !important;
    margin-bottom: 50px !important;
  }

  .publications__session__content h2 {
    margin-top: 10px !important;
  }
}

/*# sourceMappingURL=style.css.map */
