$colors:(purple:rgb(195, 90, 236));

body { 
    width: 80%;
    margin-left: 10%;
}

//nav
.nav{
    
    text-align: center;
    margin-top: 40px;
}

.nav__mobile{
    display: none;
    margin-top: 20px;
    
}

.nav__content li{
    display:inline;
    margin-right: 5%;
}

.nav__content li a{
    font-size: 0.5vw;
    color: black;
    text-decoration: none;
    padding: 1.3em;margin: 1em;
    background-image: linear-gradient(map-get($colors, purple), map-get($colors, purple)), linear-gradient(white, white);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.nav__content li a:hover{
    color: map-get($colors, purple);
    background-size: 100% 5px, auto;
}

//subnav
.subNav{
    position:fixed;
    top:200px;
    margin-left: 75%;
}

.subNav__li{
    margin-bottom: 40px;
}

.subNav__li a{
    text-decoration: none;
    color: rgb(94, 91, 91);
    font-size: 0.6vw;

    padding: 1.3em;margin: 1em;
    background-image: linear-gradient(map-get($colors, purple), map-get($colors, purple)), linear-gradient(white, white);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.subNav__li a:hover{
    color: map-get($colors, purple);
    background-size: 100% 5px, auto;
}


//introduction
.mainContent{
    width: 80%;
    margin-left: 10%;
}

.content__about{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.content__about__info{
    width: 90%;
    margin-left: 5%;
    
}

.content__about__info h1{
    font-size: 4vw;
    color: rgb(31, 4, 56);
    margin: 0;
}

.content__about__info p{
    font-size: 0.8vw;
}

.content__about__info__icons i{
    font-size: 25px;
    color: map-get($colors, purple);
}

.content__about__info__icons i:hover{
    color: rgb(122, 22, 117);
}

.content__about__info a{
    text-decoration: none;
    color: rgb(122, 22, 117);
    padding-bottom: 5px;
    background-image: linear-gradient(map-get($colors, purple), map-get($colors, purple)), linear-gradient(white, white);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .15s ease-out;
}

.content__about__info a:hover{
    color: map-get($colors, purple);
    background-size: 100% 5px, auto;
}

//education
.education__header{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.education__header i{
    padding: 20px;
    border:1.3px solid black;
    margin-right: 15px;
    font-size: 2.5vw;
    color: map-get($colors, purple );
}

.education__session{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.education__session__timeline{
    width: 80%;
}

.education__session__img img{
    width: 80%;
    max-width: 1000px;
    margin-left: 10%;
}

.education__session ul, li{
    list-style: none;
    padding: 0;
}

.education__timeline__li{
    padding-bottom: 3rem;
    border-left: 1px solid #abaaed;
   .education__header{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
} position: relative;
    padding-left: 20px;
    margin-left: 10px;
    &:last-child{
    //   border: 0px;
      padding-bottom: 0;
    }
    &:before{
      content: '';
      width: 15px;
      height: 15px;
      background: white;
      border: 1px solid #4e5ed3;
      box-shadow: 3px 3px 0px #bab5f8;
      box-shadow: 3px 3px 0px #bab5f8;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      top: 0px;
    }
}

.education__timeline__li h2{
    font-size: 1.5vw;
    margin: 0;
}

.education__timeline__li p{
    font-size: 1vw;
    color: rgb(124, 110, 110);
}

//research
.research__header{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 80px;
}

.research__header i{
    padding: 20px;
    border:1.3px solid black;
    margin-right: 15px;
    font-size: 2.5vw;
    color: map-get($colors, purple );
}

.research__session{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.research__session__content{
    position: relative;
    width: 30%;
    height: 360px;
    margin-right: 1%;
    background-color: rgb(228, 227, 228);
    margin-bottom: 20px;
    text-align: center;
    i{
        margin-top: 70px;
        font-size: 40px;
        margin-bottom: 10px;
        color: map-get($colors, purple );
    }

    .research__session__content__h2{
        font-size: 1.3vw;
    }

    .research__session__content__p{
        position: absolute;
        width: 100%;
        bottom: 70px;
        height: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4; 
        p{
            font-size: 16px;
            width: 80%;
            margin-left: 10%;
        }
    }

    .research__session__content__tri{
        position: absolute;
        bottom: 0;
        right: 0;

        width: 0;
        height: 0;
        border-bottom: 60px solid rgb(216, 160, 224);
        border-left: 60px solid rgb(228, 227, 228);
    }

    .research__session__content__button{
        position: absolute;
        bottom: 6px;
        right: 6px;
    }

    .research__session__content__button i{
        color: map-get($colors, purple );
        margin: unset;
        font-size: 22px;
    }

}

#research__session__mid{
    background-image: url(/images//purple.jpg);
    position: relative;
    display: table-cell;
    text-align: left;

    p{
        width: 80%;
        margin-left: 13%;
        padding-top: 30%;
        color: wheat;
        font-style: italic;
    }
}

//publications
.publications__header{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.publications__header i{
    padding: 20px;
    border:1.3px solid black;
    margin-right: 15px;
    font-size: 2.5vw;
    color: map-get($colors, purple );
}

.publications__sessions{
    display: flex;
    flex-direction: column;

    .publications__session{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        height: 250px;
        img{
            height: 100%;
            margin-right: 40px;
        }

        .publications__session__content{
            display: flex;
            flex-direction: column;

            h2{
                margin:unset;
                font-size: 1.3vw;
                margin-top: 40px;
                margin-bottom: 20PX;
            }

            h3{
                margin: unset;
                font-size: 0.8vw;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 20PX;
            }

            p{
                margin: unset;
                font-size: 0.8vw;
            }
        }
    }
}

//teaching
.teaching__header{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.teaching__header i{
    padding: 20px;
    border:1.3px solid black;
    margin-right: 15px;
    font-size: 2.5vw;
    color: map-get($colors, purple );
}

.teaching__sessions{
    margin-top: 40px;
    margin-bottom: 60px;
    .teaching__selects{
        display: flex;
        flex-direction: row;
        .teaching__select{
            text-align: center;
            width: 30%;
            margin-right: 1%;

            p{
                font-size: 1vw;
                color: black;
                text-decoration: none;
                padding: 1.3em;margin: 1em;
                background-image: linear-gradient(map-get($colors, purple), map-get($colors, purple)), linear-gradient(white, white);
                background-size: 0 5px, auto;
                background-repeat: no-repeat;
                background-position: center bottom;
                transition: all .2s ease-out;
            }
            p:hover{
                color: map-get($colors, purple);
                background-size: 100% 5px, auto;
            }
        }
    }

    .teaching__session{
        h2{
            font-size: 1.3vw;
            i{
                margin-left: 20px;
                margin-right: 10px;
            }
        }

        p{
            font-size: 1vw;
            margin-left: 20px;
        }
        margin-bottom: 40px;
    }
}

//contact
.contacts__header{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.contacts__header i{
    padding: 20px;
    border:1.3px solid black;
    margin-right: 15px;
    font-size: 2.5vw;
    color: map-get($colors, purple );
}

.contacts__sessions{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    .contacts__session__myInfo{
        width: 40%;
        margin-right: 10%;
        
        h2{
            margin: 0;
            margin-bottom: 20px;
            font-size: 1.3vw;
        }

        p{
            font-size: 1vw;
        }
    }

    .contacts__session__form{
        width: 50%;

        label{
            font-size: 1.3vw;
        }

        .contacts__session__form__input{
            width: 100%;
            font-size: 1.3vw;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 8px;
            font-family:'Times New Roman', Times, serif;
            
        }

        .contacts__session__form__input::placeholder{
            font-size: 1.3vw;
            font-weight: 200;
            font-family:'Times New Roman', Times, serif;
            
        }

        .contacts__session__form__field{
        
            text-align: right;
            border: unset;
            width: 100%;

            .contacts__session__form__submit{
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 12px;
                padding-bottom: 12px;
                background: map-get($colors, purple );
                color: #ffffff;
                border: 2px solid map-get($colors, purple );
            }
        }
    }
}

// response
@media only screen and (max-width: 1200px) {
    body { 
        width:94%;
        margin-left: 3%;
        line-height: 1.55;
    }

    .mainContent{
        width: 85%;
        margin-left: 0;
    }

    .nav__content li{
        margin-right: 0.5%;
    }

    .education__session__img img{
        width: 60%;
        max-width: 600x;
        margin-left: 20%;
    }

    .research__session__content{
        width: 48%;
    }

    .publications__session{
        height: 150px !important;
        .publications__session__content{
            h2{
                margin-top: 20px !important;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    .mainContent{
        margin-left: 5%;
    }

    .nav{
        display:none;
    }

    .nav__mobile{
        display: block;
        margin-left: 90%;
        font-size: 5vw;
    }

    .content__about{
        display: unset;
        flex-direction:unset;
    }

    .education__header i{
        font-size: 40px;
    }

    .education__session{
        margin-top: 30px;
    }

    .education__session__img img{
        width: 80%;
        max-width: 1000px;
        margin-left: 10%;
        display: none;
    }

    .subNav{
        display: none;
    }

    .research__header i{
        font-size: 40px;
    }

    .research__header{
        margin-bottom: 30px;
    }

    .research__session__content{
        width: 100%;
    }

    .publications__header i{
        font-size: 40px;
    }

    .publications__sessions{
        margin-top: 30px;
        img{
            display: none;
        }

        .publications__session{
            margin-top: 0;
            margin-bottom: 30px;
            height: 100px ;
            
        }
    }


    .publications__session__content{
        h2{
            margin-top: 10px !important;
        }       
    }

    .teaching__header i{
        font-size: 40px;
    }

    .teaching__sessions{
        margin-top: 30px;
    }

    .contacts__header i{
        font-size: 40px;
    }

    .contacts__sessions{
        flex-direction: column;
        margin-top: 30px;
        .contacts__session__myInfo{
            width: 100%;
        }
    
        .contacts__session__form{
            width: 100%;
        }
    }
}



