$colors:(purple:rgb(195, 90, 236));

body { 
    width: 86%;
    margin-left: 7%;
}


.nav{
    text-align: center;
}

.nav__mobile{
    display: none;
}

.nav__content li{
    display:inline;
    margin-right: 5%;
    
}

.nav__content li a{
    font-size: 0.5vw;
    color: black;
    text-decoration: none;
    padding: 1em;margin: 1em;
    background-image: linear-gradient(map-get($colors, purple), map-get($colors, purple)), linear-gradient(white, white);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    
}

.nav__content li a:hover{
    color: map-get($colors, purple);
    background-size: 100% 5px, auto;
}


// response
@media only screen and (max-width: 1200px) {
    body { 
        width:100%;
        margin-left: 0%;
    }

    .nav__content li{
        margin-right: 0.5%;
    }

}
@media only screen and (max-width: 600px) {
    .nav{
        display:none;
    }

    .nav__mobile{
        display: block;
        margin-left: 90%;
        font-size: 5vw;
    }


}



